{{ define "callback.tmpl" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Authenticated, redirecting...</title>
    <meta name="author" content="Schrodinger's Box">
    <meta name="description" content="Authenticated and saving login token to local machine">
</head>

<body>
</body>

</html>
{{ end }}