{{ define "error.tmpl" }}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error Occurred</title>
    <!-- Scripts from external CDNs -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ .domain }}/assets/callback.css">
</head>
<body>
<div id="root">
    <div class="container container-pad">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card border-danger text-danger">
                    <div class="card-header">
                        <h4>Something wrong encountered!</h4>
                    </div>
                    <div class="card-body">
                        <p>There are some errors occurred when processing your authentication request</p>
                        <p>Error details:</p>
                        <p><pre>{{ .error }}</pre></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Powered by Schrödinger's Box</p>
        </div>
    </footer>
</div>
</body>
</html>
{{ end }}